.container-home{
    background-color: #606060;
    min-height: 100vh;

    max-width: 100%;
    margin:0;
}

main{
    /* width: 100vw; */
}

.div-post{
    max-width: 30%;
    background-color: #c4c4c4;
    margin: 1rem auto;
    height: 300px;

}


